<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the index">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/index.js"></script>
  </head>

  <body>
    <div>
      <p>This color is <span class="red">red</span> and this color is <span class="blue">blue</span></p>
    </div>

    <div>
      <input type="button" value="Click Me" onclick="SayHello();">
    </div>

    <div>
      <p>Click <a href="page2">here</a> to go to page two.</p>
    </div>
  </body>
</html>
